services:
    mongo:
        image: mongo
        container_name: mongodb
        restart: unless-stopped
        ports:
            - "27017:27017"
        

    server:
        build: ./pro
        container_name: server
        ports:
            - "3000:3000"
        environment:
            PORT: 3000
            MONGODB_URI: "mongodb:/mongo:27017/students"
