services:
    mongo:
        image: mongo
        container_name: mongodb
        restart: unless-stopped
        

    server:
        build: ./pro
        container_name: server
        ports:
            - "3000:3000"


        