services:
    mongo:
        image: mongo
        container_name: mongodb
        restart: unless-stopped
        ports:
            - "27018:27017"
        volumes:
        - mongo_data:/data/db
        

    server:
        build: ./pro
        container_name: server
        ports:
            - "3000:3000"
        

volumes:
  mongo_data:
